{#
/**
 * @file xtended_content.html.twig
 * Default theme implementation to present Xtended Content data.
 *
 * This template is used when viewing Xtended Content pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_xtended_content()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('xtended_content') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
